@tailwind base;
@tailwind components;
@tailwind utilities;

.truncate-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.truncate-description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Show two lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}